<h1>Bienvenido a Heroes Gym! Estas son las clases disponibles que tenemos</h1>
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/R.46828cebd6983c8560d0ad42019689e2?rik=edjQVHO3JOa4eg&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Zumba</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://maquinasdegimnasio.xyz/maquinasgymuploads/2021/05/maquinas-para-gimnasios.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Maquinas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.TLEc2aZLkhDFkhPFr4_bJwHaEH?w=320&h=180&c=7&r=0&o=5&pid=1.7" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Calistenia</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.XbdOLVzq4uo9NFO17k6SXAHaEK?w=315&h=180&c=7&r=0&o=5&pid=1.7" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>HIIT</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p>Si deseas mas informacion puedes mandar un mensaje al 770487136</p>
  <p>O llenar el siguiente formulario:</p>
  <form>
    <label for="name">Nombre</label>
    <input type="text" id="nombre">
    <label for="phone">Celular</label>
    <input type="number" id="celular">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">No compartiremos tus datos con nadie.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
